@keyframes textAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes img-Mover-right {
  0% {
    transform: translateX(10rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
@keyframes img-Mover-left {
  0% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  padding: 2rem;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333;
}

.heading1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5.3rem;
  line-height: 1;
  letter-spacing: -3px;
  font-weight: 900;
}
.heading1 span {
  display: block;
}
@media only screen and (max-width: 37.5em) {
  .heading1 {
    font-size: 4rem;
  }
}

p {
  font-size: 1.6rem;
  letter-spacing: -0.5px;
  font-weight: 400;
  text-align: center;
}

.heading2 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.2rem;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-align: center;
  transform: translateY(50%);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
.heading2 span {
  display: block;
}

.heading4 {
  font-family: "Vollkorn", serif;
  font-size: 1.7rem;
  font-style: italic;
  letter-spacing: 0;
  font-weight: 400;
}

.heading5 {
  font-family: "Vollkorn", serif;
  font-size: 1.8rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: transform 500ms ease-in 500ms, opacity 500ms ease-in 500ms;
}

.heading2.appear,
.heading5.appear {
  transform: translate(0, 0);
  opacity: 1;
}

.heading6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.7rem;
  color: #7d7d7d;
}

.label {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
}

.form__input,
.form__textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.footer__link {
  font-size: 1.4rem;
  text-decoration: none;
}

.footer__para {
  font-size: 1.4rem;
  color: #fff;
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}

.margin-bottom-medium {
  margin-bottom: 2rem;
}

.margin-bottom-large {
  margin-bottom: 3rem;
}

.margin-bottom-larger {
  margin-bottom: 4rem;
}

.margin-bottom-huge {
  margin-bottom: 8rem;
}

.margin-bottom-big {
  margin-bottom: 0.8rem;
}

.btn {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 3.5rem;
  background-color: transparent;
  border: 0.3rem solid black;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: rgba(51, 51, 51, 0.5);
  color: #fff;
}

.duties__portfolio-img-item {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.duties__description {
  padding: 6rem;
  text-align: center;
  background-color: whitesmoke;
}

.nav {
  padding-top: 2.3rem;
  color: #fff;
  font-size: 1.3rem;
  grid-column: 3/5;
  grid-row: 1/2;
  font-family: "Montserrat", sans-serif;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.nav ul li:hover {
  cursor: pointer;
  color: #333;
}
.nav ul li:not(:last-child) {
  margin-right: 2rem;
}
@media only screen and (max-width: 62.5em) {
  .nav {
    display: none;
  }
}

.work__img-item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.features__box {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 6rem;
  transform: translateY(50%);
  opacity: 0;
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}
.features__box-icon {
  display: block;
  width: 12.5rem;
}
.features__box-1:hover {
  background-color: #FFE8C2;
}
.features__box-2:hover {
  background-color: #AF7595;
}
.features__box-3:hover {
  background-color: #A7CCED;
}
.features__box.goUp {
  transform: translate(0, 0);
  opacity: 1;
}

.testimony {
  padding: 10rem 0;
}
.testimony__para {
  font-size: 2rem;
  font-style: italic;
}

@media only screen and (max-width: 62.5em) {
  .gallery__texts p {
    display: none;
  }
}
.gallery__item {
  position: relative;
}
.gallery__item:hover {
  cursor: pointer;
}
.gallery__item:hover > .gallery__popup {
  opacity: 1;
  visibility: visible;
}
.gallery__popup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all linear 300ms;
}
.gallery__popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 85%;
  width: 85%;
  color: #fff;
}
@media only screen and (max-width: 62.5em) {
  .gallery__popup {
    opacity: 1;
    visibility: visible;
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery #gallery__img1 {
  object-position: left;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 2rem;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup__close:link, .popup__close:visited {
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  color: #D3D3D3;
  text-decoration: none;
  font-size: 4rem;
  line-height: 1;
}
.popup__close:link:hover, .popup__close:visited:hover {
  color: #fff;
}
.popup__arr {
  position: absolute;
  font-size: 8rem;
  color: #fff;
  line-height: 1;
  transform: translate(-50%, -50%);
}
.popup__arr:hover {
  cursor: pointer;
}
.popup__arr-left {
  top: 50%;
  left: 2.5rem;
}
.popup__arr-right {
  top: 50%;
  right: 2.5rem;
}
.popup__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup__img {
  height: 42vw;
  width: 65%;
  margin-bottom: 2rem;
}
.popup__sub-img {
  justify-self: end;
  display: flex;
}
.popup__sub-img > *:not(:last-child) {
  margin-right: 2rem;
}
.popup__sub-img-item {
  height: 7rem;
  width: 7rem;
}
.popup__sub-img-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form__input {
  width: 70%;
  height: 5rem;
  padding: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .form__input {
    width: 90%;
  }
}
.form__textarea {
  margin-bottom: 6rem;
  width: 70%;
  height: 8rem;
  padding: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .form__textarea {
    width: 90%;
  }
}

.footer {
  padding: 6rem;
}
.footer__logo {
  height: 9rem;
  width: 9rem;
}
.footer__logo-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.footer__box {
  text-align: center;
}
.footer__box-item > *:not(:last-child) {
  margin-bottom: 1rem;
}
.footer__box-item-list {
  list-style-type: none;
}
.footer__link:link, .footer__link:visited {
  color: #fff;
}

.navigation {
  display: none;
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 4rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 100;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #fff;
  position: fixed;
  top: 4.5rem;
  right: 6.5rem;
  z-index: 30;
  transition: transform 0.8s;
}
.navigation__nav {
  height: 100vh;
  width: 0;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}
.navigation__list {
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link {
  font-size: 3rem;
  color: #333;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  visibility: visible;
  width: 100%;
}
.navigation__icon {
  position: relative;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -1rem;
}
.navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg);
}
@media only screen and (max-width: 62.5em) {
  .navigation {
    display: block;
  }
}

.header {
  display: grid;
  grid-template-columns: 5rem min-content repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 6rem;
  height: 95vh;
  width: 100%;
  background-image: url(../images/mount.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
  transition: all ease-in 1000ms;
}
.header__logo-box {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
}
.header__logo {
  height: 7rem;
  width: 7rem;
}
.header__logo:hover {
  cursor: pointer;
}
.header__arr {
  color: #fff;
  align-self: center;
  font-size: 7rem;
  line-height: 0.5;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.header__arr:hover {
  background-color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
}
@media only screen and (max-width: 62.5em) {
  .header__arr {
    display: none;
  }
}
.header__arr-left {
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: start;
}
.header__arr-right {
  grid-row: 2/3;
  grid-column: 6/-1;
  justify-self: end;
}
.header .header__heading {
  color: #fff;
  grid-row: 2/3;
  grid-column: 3/6;
  text-align: end;
  align-self: center;
}
@media only screen and (max-width: 43.75em) {
  .header .header__heading {
    grid-column: 1/6;
  }
}

.duties-section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media only screen and (max-width: 43.75em) {
  .duties-section {
    grid-template-columns: 1fr;
  }
}

.number-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 8rem 0;
  margin-top: 2rem;
}
@media only screen and (max-width: 43.75em) {
  .number-section {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }
}

.work-section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
@media only screen and (max-width: 43.75em) {
  .work-section {
    grid-template-columns: 1fr;
  }
}

.features-section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
}
@media only screen and (max-width: 43.75em) {
  .features-section {
    grid-template-columns: 1fr;
  }
}

.testimony-section {
  margin-top: 2rem;
}

.gallery-section {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 35vh);
  grid-gap: 2rem;
}
@media only screen and (max-width: 75em) {
  .gallery-section {
    grid-template-rows: repeat(2, 20vh);
  }
}
@media only screen and (max-width: 62.5em) {
  .gallery-section {
    grid-template-rows: repeat(2, 20vh);
  }
}
@media only screen and (max-width: 43.75em) {
  .gallery-section {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 20vh);
  }
}

.form-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
}
@media only screen and (max-width: 37.5em) {
  .form-section {
    padding: 3rem;
  }
}

.footer-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #242424;
}
@media only screen and (max-width: 43.75em) {
  .footer-section {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3rem;
    justify-items: center;
  }
}

/*# sourceMappingURL=style.comp.css.map */
